# Archivos de respaldo y archivos temporales
*~
*.swp
*.bak

# Archivos de caché
__pycache__/
.cache/

# Logs y archivos de registro
*.log

# Directorios y archivos de entornos virtuales
venv/
env/
.venv/
.virtualenv/
proyecto_nba_mvp.egg-info/

# Directorios y archivos de dependencias
/.idea
/.vscode
/.vs

# Archivos de configuración local
*.env

# Archivos de control de versión
.gitkeep